{% extends "base.html" %}
{% block title %}
- Top -
{% endblock %}
{% block contents %}
<div class="index">
<h1>Todo List</h1>
<a href="{% url 'add' %}">タスクを追加</a>
<ul>
  {% for task in incomplete_tasks %}
  <li class="{% if task.complite %}complete{% endif %}">
    <form action="{% url 'update_task_complete' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="task_id" value="{{ task.id }}">
      <input type="checkbox" name="{{ task.id }}" onchange="this.form.submit()" {% if task.complite %}checked{% endif %}>
      <div class="task-header">
        <span class="task-title">{{ task.title }}</span>
        <span class="task-date">
          {{ task.start_date|date:"Y年m月d日 H:i" }} - {{ task.end_date|date:"Y年m月d日 H:i" }}
        </span>
      </div>
      <p class="task-description">{{ task.description }}</p>
    </form>
  </li>
  {% endfor %}
</ul>
<h2>完了したタスク</h2>
<ul>
  {% for task in complete_tasks %}
  <li class="{% if task.complite %}complete{% endif %}">
    <form action="{% url 'update_task_complete' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="task_id" value="{{ task.id }}">
      <input type="checkbox" name="{{ task.id }}" onchange="this.form.submit()" {% if task.complite %}checked{% endif %}>
      <div class="task-header">
        <span class="task-title">{{ task.title }}</span>
        <span class="task-date">
          {{ task.start_date|date:"Y年m月d日 H:i" }} - {{ task.end_date|date:"Y年m月d日 H:i" }}
        </span>
      </div>
      <p class="task-description">{{ task.description }}</p>
    </form>
  </li>
  {% endfor %}
</ul>
</div>
{% endblock %}